
// Fonts

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/*-- scss:defaults --*/

$headingFont: 'Atkinson Hyperlegible', sans-serif;
$mainFont: 'Atkinson Hyperlegible', sans-serif;
$codeFont: 'Courier Prime', monospace;
$theme-blue: #4D4E53;

/*-- scss:rules --*/
