
// Fonts

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

/*-- scss:defaults --*/

// https://quarto.org/docs/presentations/revealjs/themes.html#sass-variables

$headingFont: 'Atkinson Hyperlegible', sans-serif;
$mainFont: 'Atkinson Hyperlegible', sans-serif;
$codeFont: 'Inconsolata', monospace;

$theme-blue: #4D4E53;
$theme-green: #D1E9CB;

$body-bg: lighten($theme-green, 10%);
$body-color: darken($theme-green, 70%);

$presentation-heading-line-height: 1.8;

$code-block-border-color: $body-bg;
$code-block-font-size: 25px;

$link-color: darken($theme-green, 50%);

/*-- scss:rules --*/

.clippy-speech {
  background: #FFFFC8; 
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px; 
  width: 175px; 
  height: 175px; 
  margin: 10px; 
  font-family: 'Comic Neue'; 
  font-size: 30px; 
  color: black;
}